<section role="table" class="w-full">
  <p class="mb-5 text-base md:text-lg lg:text-xl">
    After adding an author, you can edit their name and birth date by clicking the <span class="font-bold">Edit</span> button. To
    view details and add books, please use the <span class="font-bold">Details</span> button.
  </p>
  <div>
    <button class="add-btn" (click)="openAddAuthorDialog()" aria-haspopup="dialog">
      Add Author
    </button>
  </div>

  <mat-form-field>
    <mat-label>Search author</mat-label>
    <input matInput (input)="libraryStore.setSearchTerm($event.target.value)" />
  </mat-form-field>

  <div
    role="row"
    class="grid grid-cols-[2fr_1fr_minmax(40px,auto)_minmax(40px,auto)_minmax(40px,auto)] gap-2 font-bold border-b pb-2 items-center text-base sm:text-lg lg:text-2xl"
  >
    <div role="columnheader" class="flex gap-5">
      Name
      <button (click)="toggleSort('name')" aria-label="Sort by name">
        @if (libraryStore.sortCreterion() === 'name' && libraryStore.sortAction() === 'asc') {
        <mat-icon>arrow_upward</mat-icon>
        } @else if (libraryStore.sortCreterion() === 'name' && libraryStore.sortAction() === 'desc')
        {
        <mat-icon>arrow_downward</mat-icon>
        } @else {
        <mat-icon>unfold_more</mat-icon>
        }
      </button>
    </div>
    <div role="columnheader" class="flex gap-5">
      Books count
      <button (click)="toggleSort('books')" aria-label="Sort by books count">
        @if (libraryStore.sortCreterion() === 'books' && libraryStore.sortAction() === 'asc') {
        <mat-icon>arrow_upward</mat-icon>
        } @else if (libraryStore.sortCreterion() === 'books' && libraryStore.sortAction() ===
        'desc') {
        <mat-icon>arrow_downward</mat-icon>
        } @else {
        <mat-icon>unfold_more</mat-icon>
        }
      </button>
    </div>
    <div role="columnheader"></div>
    <div role="columnheader"></div>
    <div role="columnheader"></div>
  </div>

  <div class="overflow-y-auto">
    @for (author of libraryStore.filteredAuthors(); track author.id) {
    <app-author-row
      [author]="author"
      (removeAuthor)="onRemoveAuthor($event)"
      (editAuthor)="onEditAuthor(author)"
      class="cursor-pointer"
    />
    } @empty {
    <div class="py-5 text-center text-gray-500 italic text-lg">
      No authors added yet. Add your first author
    </div>
    }
  </div>
</section>
