.add-btn {
    outline: none;
    border: none;
    margin-bottom: 1.25rem;
    border-bottom: 2px solid darkcyan;
    padding-bottom: 3px;
    cursor: pointer;
    font-weight: 500;
    transition: color 0.2s ease, border-color 0.2s ease;
    font-size: 20px;
}

.add-btn:hover {
    color: teal;
    border-color: teal;
  }
  
  .add-btn:active {
    color: #004d4d;
    border-color: #004d4d;
  }