:host {
    display: block;

    a {
        color: var(--mat-sys-primary);
        padding-bottom: 1rem;
        text-underline-offset: 0.5rem;

        &:hover {
            filter: brightness(1.2);
        }
    }
}