<section class="p-5">
  <div class="flex justify-between px-5">
    <button matFab (click)="toggleSort()" aria-label="sort genres">
      @if (sortOrder() === 'asc') {
      <mat-icon>arrow_upward</mat-icon>
      } @else if (sortOrder() === 'desc') {
      <mat-icon>arrow_downward</mat-icon>
      } @else {
      <mat-icon>refresh</mat-icon>
      }
    </button>

    <button
      matButton="outlined"
      (click)="openAddGenreDialog()"
      aria-haspopup="dialog"
      aria-label="Add new genre"
      class="text-sm"
    >
      Add Genre
    </button>
  </div>

  <ul class="mt-5 pl-3">
    @for (genre of libraryStore.displayedGenres(); track genre.id) {
    <li class="py-2 text-xl">{{ genre.title | titlecase }}</li>
    } @empty {
    <li>No genres yet</li>
    }
  </ul>
</section>
