<mat-toolbar class="mat-elevation-z3 relative z-5">
  @if (!responsiveService.largeWidth() && isGenresPage()) {
  <button
    matIconButton
    class="flex items-center justify-center h-10 w-10 mr-5"
    (click)="sidebarService.toggle()"
    aria-label="Toggle menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  }
  <h1>{{ title() }}</h1>
  <button matIconButton (click)="toggleTheme.emit()" class="ml-auto primary">
    <mat-icon>
      {{ currentTheme() === 'light' ? 'light_mode' : 'dark_mode' }}
    </mat-icon>
  </button>
</mat-toolbar>
